# --- Corel build artifacts ---
**/build/

# --- Corel binaries ---
*.gsm

# --- Temporary files ---
*.tmp
*.bak
*.log

# --- Windows ---
Thumbs.db
Desktop.ini

# --- VS Code ---
.vscode/

# инструкции для работы с макросами
*.doc
*.docx

# --- PowerShell temp ---
*.psm1
